# This is a basic workflow to help you get started with Actions

name: CI

# Controls when the action will run. 
on:
  # Triggers the workflow on push or pull request events but only for the master branch
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]
  schedule:
    # 定时任务，在每天的2,5点推送天气信息到邮箱
    - cron: '10/6 * * * *'

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2
        
      - name: Run a multi-line script
        run: |
          mkdir ~/hehe
          cp -rf * ~/hehe
          rm -rf *

      - name: Checkout lets
        uses: actions/checkout@v2
        with:
          repository: hehe413/lets
          token: ${{ secrets.GITHUB_TOKEN }}

      # Runs a set of commands using the runners shell
      - name: Run a multi-line script
        run: |
          ls
          pwd
          ls ~/hehe
          cp ./account.json ~/hehe
          rm -rf *
          cp -rf ~/hehe/* .
          pwd
          ls
          git config --global user.email 403219317@qq.com
          git config --global user.name hehe413
          git add .
          git commit -m "update" -a

      - name: Push changes
        uses: ad-m/github-push-action@master
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
